<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.wso2.org/vihanga/example/student/Student"
			class = "org.wso2.vihanga.example.student.student.StudentPackage"
			genModel = "model/generated/Student.genmodel" />
	</extension>
</plugin>
